* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html,
body,
.app {
  height: 100%;
  font-family: helvetica, sans-serif;
  color: #444;
}

/**
 * masthead
 */

.masthead {
  padding: 18px 20px;
  font-size: 44px;
  font-weight: bold;
  line-height: 1em;
}

/**
 * layout-b
 */

.layout-b {
  height: 100%;
}

.layout-b__header {
  height: 80px;
  margin-bottom: -80px;
  border-bottom: solid 1px #DDD;
}

.layout-b__content {
  height: 100%;
  padding-top: 80px;
}

.layout-b__child-2 {
  border-bottom: solid 1px #DDD;
}

/**
 * strawberry
 */

.strawberry {
  padding: 20px;
}

.strawberry__input {
  width: 100%;
  padding: 6px;
  font-size: 1.4em;
}

/**
 * list-item
 */

.list-item {
  padding: 20px;
  border-bottom: solid 1px #DDD;
}

.list-item__checkbox {
  margin-right: 10px;
}

.list-item__close-button {
  float: right;
  width: 1.25em;
  height: 1.25em;
  margin-top: -3px;
  padding: 0;
  border-radius: 50%;
  background: #DDD;
  color: #FFF;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}
